rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth != null;
    }

    // isAdmin関数を実装中
    function isAdmin() {
      return isAuth() &&
              // administratorsのドキュメントをすべて取得し、emailが含まれていたらtrueを返す　という処理を実装したい...
              get(/databases/$(database)/documents/administrators/{doc=**});
    }

    match /administrators/{doc=**} {
      // isAdmin関数で読み取る必要があるため全員にread権限を与える
      // また、申請書の作成にread権限が必要
      allow read: if isAuth();
    }

    match /employees/{doc=**} {
      // isAdmin関数で読み取る必要があるため全員にread権限を与える
      // また、申請書の作成にread権限が必要
      allow read: if isAuth();
    }

    match /departments/{doc=**} {
      allow read: if isAuth();
    }

    match /routes/{doc=**} {
      allow read: if isAuth();
    }

    match /request_snippets/{request_snippetId} {

    }
  }
}
